.grid {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    flex: 1 1 0;
}

.square {
    flex: 1 1 0;
    border: 2px solid black;
    transition-duration: 5s;
}

.hovering {
    flex: 1 1 0;
    background-color: goldenrod;
    border: 2px solid goldenrod;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}